@charset "utf-8";
*{margin: 0px;padding: 0px;outline: none;text-decoration: none;list-style:none;box-sizing: border-box;}
body{font-family:'Castoro','sans-serif';min-height:100vh;background-image: url('img_5.jpg');/*https://unsplash.com/photos/rsGPpnuLEc4 >> photo background*/background-repeat: no-repeat;background-size: cover;}
body > input[type="checkbox"]{display:none;}
body > input[type="checkbox"]:checked + header .container .navbar{max-height: 265px;}
p{font-weight: bolder ;}
/*=== start header ===*/
body header .container{width: 90%;margin: auto;}
    /* Start NavBar */
body header .container .navbar{display: flex;position: relative;justify-content:space-between;align-items:center;padding: 15px 0px 10px;overflow: hidden;max-height: 65px;transition: max-height 1s;}
body header .container .navbar h1{color: #fff;-webkit-text-stroke: 2px #000;font-size: 35px;font-family: verdana;font-style: italic;}
body header .container .navbar h1 span{color: #685e54;}
    /* start list & icon_media */
body header .container .navbar .list li,.icon_media li{display: inline-block;}
body header .container .navbar .list{left: -95px;}
body header .container .navbar .list li a{font-family: verdana;font-style: italic;-webkit-text-stroke: 1.3px #fff;}
body header .container .navbar .icon_media{right: -17px;}
body header .container .navbar .icon_media li a{-webkit-text-stroke: 0.8px #fff;}
body header .container .navbar .list li a,.icon_media li a{display: block;color: #000;font-size: 21px;font-weight: bold;margin: 0px 6px;}
body header .container .navbar .icon_media li a{-webkit-text-stroke: 1.1px #fff;font-size: 22px;}
body header .container .navbar .list li a:hover{color:#685e54;-webkit-text-stroke: 1px #000;}
body header .container .navbar .icon_media li a:hover{color:#685e54;-webkit-text-stroke: 1px #000;}
    /* start humbrger */
body header .container .navbar .humbrger{position: absolute;right: 0px; width: 30px;height: 21px;display: none;justify-content: space-around;flex-direction: column;}
body header .container .navbar .humbrger .bar{width: 100%;height: 4px;background-color:#000;border-radius: 5px;}    
    /* start input "Search" */
body header .container .navbar input{width:7.5em;border:none;border-bottom: 1.9px solid #000; padding: 3px 2px; background-color: transparent;background-image: url('img_2.png');background-repeat: no-repeat; background-position: right center;background-size: 14px;font-weight: bolder;}
body header .container .navbar input::placeholder{color:#000;font-size: 14px;font-weight: bolder;}
    /* start media query */
@media (min-width:280px) and (max-width:900px) {
    body header {background-color:rgba(0, 0, 0, 0.15);}
    body header .container .navbar{flex-direction: column;align-items: flex-start;max-height: 65px;}
    body header .container .navbar .list,.icon_media{position: static;}
    body header .container .navbar .list{margin-top: 20px;width: 100%;}
    body header .container .navbar .list li{display: block;}
    body header .container .navbar .list li a{margin: 5px 0px;}
    body header .container .navbar .icon_media{margin:15px 0px;}
    body header .container .navbar .icon_media li:nth-child(1) a{margin-left: 0px;}
    body header .container .navbar .humbrger{display:flex;top: 23px;}
    body header .container .navbar input{border-bottom: 1.9px solid #FFF;}
    body header .container .navbar input::placeholder{-webkit-text-stroke: 1px #fff;}
}
/*=== end-header ===*/
/*=== start-section_1 ===*/
body .section_1{margin-top:60px;}
body .section_1 .container{width: 90%;margin: auto;display: flex;justify-content: space-around;align-items: center;flex-wrap: wrap;}
body .section_1 .container > .content:nth-child(1) h3{display: block ruby;writing-mode: sideways-rl;text-align: center;-webkit-text-stroke: .5px #fff;}
body .section_1 .container > .content:nth-child(1) h3 .line{width: 3.6px;height: 85px;background-color: #000;border:.3px solid #fff; border-radius: 5px;margin-top: 10px;}
body .section_1 .container > .content:nth-child(2){max-width: 342px;/*position: relative;left:75px;*/}
body .section_1 .container > .content:nth-child(2) h1{font-size: 45px;line-height: 45px;-webkit-text-stroke: 1.5px #fff;}
body .section_1 .container > .content:nth-child(2) p{text-align: justify;max-width: 275px;margin-top: 15px;}
/* body .section_1 .container > .content:nth-child(3){position: relative;left:100px;}  */
body .section_1 .container > .content:nth-child(3) .text:nth-child(2){margin-top: 10px;}
body .section_1 .container > .content:nth-child(4) .list_Circle li{list-style-image: url(rec.png);font-size:16px;cursor: pointer;}
body .section_1 .container > .content:nth-child(4) .list_Circle li:nth-child(3){list-style-image: url(rec_1.png);}
body .section_1 .container > .content:nth-child(4) .list_Circle li:hover{list-style-image: url(rec_1.png);}
@media (min-width:280px) and (max-width:979px){
    /* body .section_1 .container .content:nth-child(2){position: static;left: 0px;} */
    /* body .section_1 .container > .content:nth-child(3){position: static;left:100px;}  */
    body .section_1 .container{justify-content: center;}
    body .section_1 .container > .content:nth-child(1) h3{writing-mode:initial;display: flex;align-items: center;font-size: 22px;}
    body .section_1 .container > .content:nth-child(1) h3 .line{width: 85px;height: 3.6px;background-color: #000;border-radius: 5px;margin:0px;margin-left: 10px;}
    body .section_1 .container > .content:nth-child(1) h3::before{content:''; width: 85px;height: 3.6px;background-color: #000;border-radius: 5px;margin-right: 10px;}
    body .section_1 .container > .content{margin: 25px;}
    body .section_1 .container > .content:nth-child(3) h2{color:#5c2e00;-webkit-text-stroke: 1px #000;font-size: 27px;}
    body .section_1 .container > .content:nth-child(4) .list_Circle{display: flex;justify-content: space-between;}
    body .section_1 .container > .content:nth-child(4) .list_Circle li{margin: 25px;}
}
@media (min-width:280px) and (max-width:414px){
    body .section_1 .container > .content:nth-child(1) h3 .line{width: 65px;height: 3.6px;background-color: #000;border-radius: 5px;margin:0px;margin-left: 5px;}
    body .section_1 .container > .content:nth-child(1) h3::before{content:''; width: 65px;height: 3.6px;background-color: #000;border-radius: 5px;margin-right: 5px;}
    body .section_1 .container > .content:nth-child(2) h1{text-align: center;}
    body .section_1 .container > .content:nth-child(3) h2,p{text-align: center;}
    body .section_1 .container > .content:nth-child(3) .text:nth-child(2){margin-top: 10px;}
}
@media (min-width:280px) and (max-width:673px){
    body .section_1 .container > .content:nth-child(4) .list_Circle{margin-left: 30px;}
}
